.main {
  background-color: #F3F1FE;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: inherit;
  justify-content: flex-start;
  padding: 0 1rem;
}

.header {
  background-color: #8e8afe;
  border-bottom: 2px solid #1c1a51cc;
  max-width: 100vw;
}
